# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Media files (if using Cloudinary)
static/videos/
*.mp4
*.mov
*.avi